@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800&display=swap');

:root {
  --font-family: 'montserrat', sans-serif;

  
  --color-high:#0c0c0c;
  --color-low:#eeeeee;

  
  --theme-em-gradient: linear-gradient(90deg, #7209d4, #2832d4 33%, #00a5b2);
}